.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 130px;

}

input {
    padding: 12px;
    border-radius: 12px;
    border: none;
    margin-top: 10px;
    font-weight: 600;
    opacity: 0.8;
    color: black;


}

button {
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    cursor: pointer;
    opacity: 0.8;

}

button:hover {
    box-shadow: 1px 1px 5px rgb(7, 7, 7);

}

.sigup-head {
    color: white;
    text-shadow: 1px 1px 8px rgb(7, 7, 7);
    opacity: 0.8;
}
.no-account-link{
    padding-top: 60px;
    color: white;
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.9;
}

